
#cuboid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    height: var(--h);
    width: var(--w);

    translate: calc(-50% + var(--x)) calc(-50% - var(--y)) calc( var(--z));
    
    animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}

#front {
    --width: var(--w);
    --height: var(--h);
    --offset: calc(var(--d) / 2);
    --rotY: 0;
    --rotX: 0;
}
#right {
    --width: var(--d);
    --height: var(--h);
    --offset: calc(var(--w) / 2);
    --rotY: 0.25turn;
    --rotX: 0;
}
#back {
    --width: var(--w);
    --height: var(--h);
    --offset: calc(var(--d) / 2);
    --rotY: 0.5turn;
    --rotX: 0;
}
#left {
    --width: var(--d);
    --height: var(--h);
    --offset: calc(var(--w) / 2);
    --rotY: 0.75turn;
    --rotX: 0;
}
#top {
    --width: var(--w);
    --height: var(--d);
    --offset: calc(var(--h) / 2);
    --rotY: 0;
    --rotX: 0.25turn;
}
#bottom {
    --width: var(--w);
    --height: var(--d);
    --offset: calc(var(--h) / 2);
    --rotY: 0;
    --rotX: 0.75turn;
}

.side {
    position: absolute;
    transform-style: preserve-3d;
    width: var(--width);
    height: var(--height);
    transform: rotateX(var(--rotX)) rotateY(var(--rotY)) translateZ(var(--offset)); 
}