
#cuboid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    height: var(--height);
    width: var(--width);
    transform: translate(-50%,-50%);
    animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
      transform: translate(-50%,-100%) rotateY(0deg);
  }
  to {
      transform: translate(-50%,-100%) rotateY(360deg);
  }
}

#front {
    --w: var(--width);
    --h: var(--height);
    --offset: calc(var(--depth) / 2);
    --rotY: 0;
    --rotX: 0;
}
#right {
    --w: var(--depth);
    --h: var(--height);
    --offset: calc(var(--width) / 2);
    --rotY: 0.25turn;
    --rotX: 0;
}
#back {
    --w: var(--width);
    --h: var(--height);
    --offset: calc(var(--depth) / 2);
    --rotY: 0.5turn;
    --rotX: 0;
}
#left {
    --w: var(--depth);
    --h: var(--height);
    --offset: calc(var(--width) / 2);
    --rotY: 0.75turn;
    --rotX: 0;
}
#top {
    --w: var(--width);
    --h: var(--depth);
    --offset: calc(var(--height) / 2);
    --rotY: 0;
    --rotX: 0.25turn;
}
#bottom {
    --w: var(--width);
    --h: var(--depth);
    --offset: calc(var(--height) / 2);
    --rotY: 0;
    --rotX: 0.75turn;
}

.side {
    position: absolute;
    transform-style: preserve-3d;
    width: var(--w);
    height: var(--h);
    transform: rotateX(var(--rotX)) rotateY(var(--rotY)) translateZ(var(--offset)); 
}