
.xside {
    width: var(--d);
    height: var(--h);
    transform: rotateY(var(--r)) translateZ(calc(var(--w) / 2));
}

.yside {
    width: var(--w);
    height: var(--d);
    transform: rotateX(var(--r)) translateZ(calc(var(--h) / 2));
}

.zside {
    width: var(--w);
    height: var(--h);
    transform: rotateY(var(--r)) translateZ(calc(var(--d) / 2));
}
