.object3d {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;

    position: relative;
    height: var(--h);
    width: var(--w);
    translate: calc(var(--x)) calc(var(--y)) calc( var(--z));
}

.face3d {
    position: absolute;
    transform-style: preserve-3d; 
}