
.viewport {
    overflow: hidden;
    perspective: var(--fL, 500px);
    width: 100%;
    height: 100%;
}

.viewport, .scene {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scene, .camera {
    transform-style: preserve-3d;
    width: var(--wX);
    height: var(--wY);
}

.scene {
    transform-origin: center center var(--fL, 500px);
    transform: rotateX(var(--rX, 0)) rotateY(var(--rY, 0)) rotateZ(var(--rZ, 0));
}

.camera {
    position: relative;
    translate: var(--pX, 0) var(--pY, 0) calc(var(--pZ, 0) + var(--fL, 500px));
}
