
.viewport {
    overflow: hidden;
    perspective: var(--focalLength, 500px);
    width: 100%;
    height: 100%;
}

.scene, .camera {
    transform-style: preserve-3d;
    width: 100%; /* Should be world width */
    height: 100%; /* Should be world length */
}

.scene {
    transform-origin: center center var(--focalLength, 500px);
    transform: rotateX(var(--rotX, 0)) rotateY(var(--rotY, 0)) rotateZ(var(--rotZ, 0));
}

.camera {
    position: relative;
    translate: var(--posX, 0) var(--posY, 0) calc(var(--posZ, 0) + var(--focalLength, 500px));
}

